<div class="pos-container">
  <div class="panel-platos">
    <h2>Menú Disponible (Mesa {{ mesa?.numero }})</h2>

    <div class="grid-botones">
      @for (plato of platosDisponibles; track plato.id) {
        <button type="button" class="btn-plato" (click)="agregarPlatoAlPedido(plato.id)">
          <span class="nombre">{{ plato.nombre }}</span>
          <span class="precio">{{ plato.precio | currency: 'ARS' }}</span>
        </button>
      }
    </div>
  </div>

  <div class="panel-ticket">
    <h2>Pedido Actual</h2>

    <form [formGroup]="pedidoForm" (ngSubmit)="enviarPedido()">
      <div class="ticket-items">
        @for (p of pedidosActuales; track p.id) {
          <!-- Entramos al arreglo de platos de este pedido específico -->
          @for (plato of p.platos; track plato.id) {
            <div class="item-linea">
              <span>{{ plato.nombre }}</span>
              <!-- Ahora sí es un objeto individual -->
              <span class="precio-linea">{{ plato.precio | currency: 'ARS' }}</span>
            </div>
          }
        }
      </div>

      <div class="ticket-footer">
        <div class="total-box">
          <strong>Total:</strong>
          <span>{{ calcularTotal() | currency: 'ARS' }}</span>
        </div>

        <button type="submit" class="btn-enviar" [disabled]="pedidoForm.invalid">
          Confirmar y Enviar Pedido
        </button>
      </div>
    </form>
  </div>
</div>
